

block content
    h1 Contacto 
    p Me encanta ponerme en contacto con vosotros.
    //tenemos que poner primero formulario para que se cree la instancia
    script(src="/js/formulario.js")
    script(src="js/codex.js")
    