//extends layout 

block content
    h1 Página de inicio 
    p Esta es la maravillosa página de inicio de mi proyecto
    
    -var n= 0;
    ul 
        while n < 4
            li #{n}
            -n++