doctype html 
html    
    head 
        meta(charset="UTF-8")
        title Navegación usando Express y Pug
        link(rel="stylesheet" href="/css/reset.css")
        link(rel="stylesheet" href="/css/general.css")

    body 
        h1 Acordeón
        section(id="acordeon")
        script(src="/js/codex.js")