html 
    head 
        title Componentes visuales
        // ponemos el atributo link a la misma indentación de title
        link(href="/css/reset.css" rel="stylesheet")
    body 
        nav(class="menu" id="menu-principal")
            img(src="/images/Menu.png" id="boton-menu")
            ul(class="abierto")
                li
                    a(href="#") Inicio
                li
                    a(href="#") Buscar 
                li 
                    a(href="#") Favoritos 
                li 
                    a(href="#") Carrito
                    
                    

        h1 Componentes visuales
        ul(id="productos")
        
        //ESto crea <script src="/js/codex.js></script>
        script(src="/js/codexLuis.js")