doctype html 
html    
    head 
        meta(charset="UTF-8")
        title Navegación usando Express y Pug #{pagina}

    body 
        nav 
            ul 
                li: a(href="/", class = pagina === "Inicio" ? "actual" : "") Inicio
                li: a(href="/productos", class = pagina === "Productos" ? "actual" : "") Productos


        block content
